<clr-datagrid><% props.forEach(function(prop){ %>
  <clr-dg-column><%=prop[0]%></clr-dg-column><% });%>
​
  <clr-dg-row *clrDgItems="let <%=name%> of <%=name%>s" [clrDgItem]="<%=name%>">
    <% props.forEach(function(prop){ %>
    <clr-dg-cell>{{<%=name%>.<%=prop[0]%>}}</clr-dg-cell><% });%>
  </clr-dg-row>
​
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
